{% extends "website/base.html" %}

{% load static %}
      <img src="{% static '/assets/background.png' %}" style="width: 100vw;height: 100vh;">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% block content %}
      <div class="wrapper">

            <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                        <div class = "title">
                        <legend class="border-bottom mb-4">Log In</legend>
                        </div>
                        {{ form.as_p }}
                  </fieldset>

                  <div class="form-group">
                        <button style= "width: 60%; margin-left: 50px; text-align: center; padding: 12px; border-radius: 25px;"
                                class="btn btn-outline-info" type="submit">Log In</button>
                  </div>

            </form>

            <div class="border-top pt-3">
                  <small style="font-size:11pt;" class="text-muted">
                        Need to register an account? <a class="ml-2" href="{% url 'register' %}">Register</a>
                  </small>
            </div>
      </div>
{% endblock content %}